@using System.Web.Mvc.Html
@model Ucommerce.Masterclass.Umbraco.Models.AddressDetailsViewModel

@{
    Layout = "~/views/shared/TwoCol.cshtml";
}

<form method="POST">
    <div class="row">
        <div class="col-md-6">
            <legend>Billing</legend>
            <div class="mb-3">
                <label for="billingfirstname" class="form-label">First name</label>
                @Html.TextBoxFor(x => x.BillingAddress.FirstName, new {@class = "form-control", id = "billingfirstname"})
            </div>
            <div class="mb-3">
                <label for="billinglastname" class="form-label">Last name</label>
                @Html.TextBoxFor(x => x.BillingAddress.LastName, new {@class = "form-control", id = "billinglastname"})
            </div>
            <div class="mb-3">
                <label for="billingemail" class="form-label">E-mail</label>
                @Html.TextBoxFor(x => x.BillingAddress.EmailAddress, new {@class = "form-control", id = "billingemail"})
            </div>
            <div class="mb-3">
                <label for="billingCompany" class="form-label">Company</label>
                @Html.TextBoxFor(x => x.BillingAddress.CompanyName, new {@class = "form-control", id = "billingCompany"})
            </div>
            <div class="mb-3">
                <label for="billingAttention" class="form-label">Attention</label>
                @Html.TextBoxFor(x => x.BillingAddress.Attention, new {@class = "form-control", id = "billingAttention"})
            </div>
            <div class="mb-3">
                <label for="billingLine1" class="form-label">Line 1</label>
                @Html.TextBoxFor(x => x.BillingAddress.Line1, new {@class = "form-control", id = "billingLine1"})
            </div>
              <div class="mb-3">
                    <label class="form-label">Line 2</label>
                    @Html.TextBoxFor(x => x.BillingAddress.Line2, new {@class = "form-control", id = "billingLine2"})
                </div>
            <div class="mb-3">
                <label for="billingcity" class="form-label">City</label>
                @Html.TextBoxFor(x => x.BillingAddress.City, new {@class = "form-control", id = "billingcity"})
            </div>
            <div class="mb-3">
                <label class="form-label" for="billingPostal">Postal code</label>
                @Html.TextBoxFor(x => x.BillingAddress.PostalCode, new {@class = "form-control", id = "billingPostal"})
            </div>
            <div class="mb-3">
                <label for="billingCountry" class="form-label">Country</label>
                @Html.DropDownList("BillingAddress.CountryId", Model.AvailableCountries, new {@class = "form-control", id = "billingPostal"})
            </div>
            <div class="mb-3">
                <label for="billingPhone" class="form-label">Phone</label>
                @Html.TextBoxFor(x => x.BillingAddress.PhoneNumber, new {@class = "form-control", id = "billingPhone"})
            </div>
            <div class="mb-3">
                <label for="billingMobilePhone" class="form-label">Mobile phone</label>
                @Html.TextBoxFor(x => x.BillingAddress.MobilePhoneNumber, new {@class = "form-control", id = "billingMobilePhone"})
            </div>
            <div class="mb-3">
                <label for="useAlternativeAddress">Use alternative shipping address</label>
                @Html.CheckBoxFor(x => x.UseAlternativeAddress, new {@class = "form-check-input", id = "useAlternativeAddress"})
            </div>
        </div>
        <div class="col-md-6" id="shippingForm" style="display: none">
                    <legend>shipping</legend>
                    <div class="mb-3">
                        <label for="shippingfirstname" class="form-label">First name</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.FirstName, new {@class = "form-control", id = "shippingfirstname"})
                    </div>
                    <div class="mb-3">
                        <label for="shippinglastname" class="form-label">Last name</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.LastName, new {@class = "form-control", id = "shippinglastname"})
                    </div>
                    <div class="mb-3">
                        <label for="shippingemail" class="form-label">E-mail</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.EmailAddress, new {@class = "form-control", id = "shippingemail"})
                    </div>
                    <div class="mb-3">
                        <label for="shippingCompany" class="form-label">Company</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.CompanyName, new {@class = "form-control", id = "shippingCompany"})
                    </div>
                    <div class="mb-3">
                        <label for="shippingAttention" class="form-label">Attention</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.Attention, new {@class = "form-control", id = "shippingAttention"})
                    </div>
                    <div class="mb-3">
                        <label for="shippingLine1" class="form-label">Line 1</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.Line1, new {@class = "form-control", id = "shippingLine1"})
                    </div>
                      <div class="mb-3">
                            <label class="form-label">Line 2</label>
                            @Html.TextBoxFor(x => x.ShippingAddress.Line2, new {@class = "form-control", id = "shippingLine2"})
                        </div>
                    <div class="mb-3">
                        <label for="shippingcity" class="form-label">City</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.City, new {@class = "form-control", id = "shippingcity"})
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="shippingPostal">Postal code</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.PostalCode, new {@class = "form-control", id = "shippingPostal"})
                    </div>
                    <div class="mb-3">
                        <label for="shippingCountry" class="form-label">Country</label>
                        @Html.DropDownList("shippingAddress.CountryId", Model.AvailableCountries, new {@class = "form-control", id = "shippingPostal"})
                    </div>
                    <div class="mb-3">
                        <label for="shippingPhone" class="form-label">Phone</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.PhoneNumber, new {@class = "form-control", id = "shippingPhone"})
                    </div>
                    <div class="mb-3">
                        <label for="shippingMobilePhone" class="form-label">Mobile phone</label>
                        @Html.TextBoxFor(x => x.ShippingAddress.MobilePhoneNumber, new {@class = "form-control", id = "shippingMobilePhone"})
                    </div>
                </div>
    </div>
    <script>
        document.querySelector('input[type=checkbox]').addEventListener('click', 
        function(event) { 
            console.log(event.target);
            var elem = document.querySelector('#shippingForm'); 
            if (event.target.checked) { 
                elem.style.display = 'block'; 
            } else { 
                elem.style.display = 'none'
            }
        });
    </script>
    <script>
        var elem = document.querySelector('input[type=checkbox]'); 
        var shippingForm = document.querySelector('#shippingForm'); 
        if (elem.checked) { 
            shippingForm.style.display = 'block'; 
        } else { 
            shippingForm.style.display = 'none'
        }
    </script>
    <div class="row mt-4">
        <div class="col-md-6">
            <a href="/basket" class="btn btn-secondary">
                Back to basket
            </a>
        </div>
        <div class="col-md-6 text-right">
            <input type="submit" value="Continue to Shipping" class="btn btn-primary"/>
        </div>
    </div>
</form>