@model Ucommerce.Masterclass.Umbraco.Models.PurchaseOrderViewModel
@{
    Layout = "~/views/shared/TwoCol.cshtml";
}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Description</th>
        <th>Unit price</th>
        <th>Tax</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var orderline in Model.OrderLines)
    {
        var oneLess = orderline.Quantity - 1;
        var oneMore = orderline.Quantity + 1;
        <tr>
            <td>
                @orderline.ProductName
            </td>
            <td>
                @orderline.UnitPrice
            </td>
            <td>
                @orderline.Tax
            </td>
            <td>
                <form method="post" id="down_@orderline.OrderLineId" style="display: inline;">
                    <input type="hidden" name="orderlineId" value="@orderline.OrderLineId" />
                    <input type="hidden" name="quantity" value="@oneLess" />
                    <button type="submit" class="btn btn-sm" form="down_@orderline.OrderLineId" >-</button>
                </form>
                @orderline.Quantity
                <form method="post" id="up_@orderline.OrderLineId" style="display: inline;">
                    <input type="hidden" name="orderlineId" value="@orderline.OrderLineId" />
                    <input type="hidden" name="quantity" value="@oneMore" />
                    <button type="submit" class="btn btn-sm" form="up_@orderline.OrderLineId" >+</button>
                </form>
            </td>
            <td>                    
                @orderline.Total
            </td>
            <td>
                <form method="post" id="remove_@orderline.OrderLineId" style="display: inline;">
                    <input type="hidden" name="orderlineId" value="@orderline.OrderLineId" />
                    <input type="hidden" name="quantity" value="0" />
                    <button type="submit" class="btn btn-sm" form="remove_@orderline.OrderLineId" >x</button>
                </form>
            </td>
        </tr>
    }
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Sub Total</td>
        <td colspan="2">@Model.SubTotal</td>
    </tr>
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Tax</td>
        <td colspan="2">@Model.TaxTotal</td>
    </tr>
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Shipping</td>
        <td colspan="2">@Model.ShippingTotal</td>
    </tr>
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Discount</td>
        <td colspan="2">@Model.DiscountTotal</td>
    </tr>
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Order Total</td>
        <td colspan="2">@Model.OrderTotal</td>
    </tr>
    </tbody> 
</table>

<div class="row text-right">
    <a href="/billing">
        <button class="btn btn-primary">Proceed to checkout</button>
    </a>
</div>