@model Ucommerce.Masterclass.Umbraco.Models.CategoryViewModel
@{
    Layout = "~/views/shared/TwoCol.cshtml";
}
<div class="row">
    <h1>@Model.Name</h1>
    
    <img src="@Model.ImageMediaUrl" />
</div>

<div class="row">
    <h2>@Model.TotalProductsCount Products available in @Model.Name</h2>
</div>

<div class="row">
    <div class="col">
        @foreach (var facet in Model.Facets)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @facet.Key
                </button>
                <div class="dropdown-menu">
                    @foreach (var value in facet.FacetValues)
                    {
                        <a class="dropdown-item" facet-data="link">
                            <input type="checkbox" facet-data="input" facet-data-key="@facet.Key" facet-data-value="@value.Key"/> @value.Key (@value.Count)
                        </a>   
                    }
                </div>
            </div>
        }
    </div>
</div>

<script>

document.querySelectorAll('input[facet-data=input]').forEach(
  function(element) {
      element.addEventListener('click', function(event) { 
        event.stopPropagation();
      });
  }
);

document.querySelectorAll('a[facet-data=link]').forEach(
  function(element) { 
    element.addEventListener('click', function(event) { 

      var input = element.querySelectorAll('input')[0];     
      input.click();
      
      event.stopPropagation();  
    });
  })
</script>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
    @foreach (var product in @Model.Products)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="@product.Url">
                <img src="@product.PrimaryImageUrl" class="card-img-top" alt="product image">
                </a>
                <div class="card-body">
                    
                    <h5 class="card-title">
                        <a class="text-dark" href="@product.Url">
                            @product.Name
                        </a>
                    </h5>
                    <p class="card-text">
                        <a class="text-dark" href="@product.Url">
                            @product.ShortDescription
                        </a>
                    </p>
                    <a href="@product.Url" class="btn btn-primary">More Info</a>
                    @if (product.Sellable)
                    {
                        <button class="btn btn-primary" form="@product.Sku" type="submit"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                        <form method="POST" id="@product.Sku">
                            <input type="hidden" name="Sku" value="@product.Sku">
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>