@model Ucommerce.Masterclass.Umbraco.Models.PurchaseOrderViewModel
@{
    Layout = "~/views/shared/TwoCol.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <legend>Billing information</legend>
        <address>
            @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
            <br/>
            @Model.BillingAddress.Line1
            <br/>
            @Model.BillingAddress.Line2
            <br/>
            @Model.BillingAddress.PostalCode
            <br/>
            @Model.BillingAddress.City
            <br/>
            @Model.BillingAddress.State
            <br/>
            @Model.BillingAddress.CountryName
            <br/>
            @Model.BillingAddress.PhoneNumber
            <br/>
            @Model.BillingAddress.MobilePhoneNumber
            <br/>
            @Model.BillingAddress.EmailAddress
                                                                                
        </address>


    </div>
    <div class="col-md-6">
        <legend>Ships to</legend>
        <address>
            @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
            <br/>
            @Model.ShippingAddress.Line1
            <br/>
            @Model.ShippingAddress.Line2
            <br/>
            @Model.ShippingAddress.PostalCode
            <br/>
            @Model.ShippingAddress.City
            <br/>
            @Model.ShippingAddress.State
            <br/>
            @Model.ShippingAddress.CountryName
            <br/>
            @Model.ShippingAddress.PhoneNumber
            <br/>
            @Model.ShippingAddress.MobilePhoneNumber
            <br/>
            @Model.ShippingAddress.EmailAddress
        </address>
    </div>

</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Description</th>
        <th>Unit price</th>
        <th>Tax</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var orderline in Model.OrderLines)
    {
        <tr>
            <td>
                @orderline.ProductName
            </td>
            <td>
                @orderline.UnitPrice
            </td>
            <td>
                @orderline.Tax
            </td>
            <td>
                @orderline.Quantity
            </td>
            <td>                    
                @orderline.Total
            </td>
        </tr>
    }
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Sub Total</td>
        <td colspan="2">@Model.SubTotal</td>
    </tr>
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Tax</td>
        <td colspan="2">@Model.TaxTotal</td>
    </tr>
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Shipping</td>
        <td colspan="2">@Model.ShippingTotal</td>
    </tr>
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Discount</td>
        <td colspan="2">@Model.DiscountTotal</td>
    </tr>
    <tr>
        <td class="border-0" style="background-image: none" colspan="3"></td>
        <td>Order Total</td>
        <td colspan="2">@Model.OrderTotal</td>
    </tr>
    </tbody> 
</table>

<div class="row mt-4">
    <div class="col-md-6">
        <a href="/payment" class="btn btn-secondary">
            Back to payment information
        </a>
    </div>
    <div class="col-md-6 text-right">
        <form method="post">
            <input type="hidden" name="complete" value="1" />
            <input type="submit" value="Place order" class="btn btn-primary"/>
        </form>
    </div>
</div>